.main{
    text-align: center;
    /* posicion en x , posiion Y , difuminacion , color  */
    padding-top: 12%;
    text-shadow:    0px 4px 3px red ,
                    0px 4px 3px orange, 
                    0px 4px 3px yellow;
    /* text-shadow:    0px 4px 3px rgb(0, 0, 0,0.2),
                    0px 4px 3px rgb(0, 0, 0,0.2), 
                    0px 4px 3px rgb(0, 0, 0,0.8); */
}

body{
    background: url("../img/bground.jpg");
    background-size: cover;
    background-position: center;
    color:white;  
    font-family: 'Sedgwick Ave Display', cursive;
}

html{
    height: 100%;
}

h1{
    font-size: 5em;
    font-weight:  700;
}

hr{
    width: 400px;
    border-top: 1px solid grey;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226)
}

